/*Color variables*/
$body-lin-gradient-firstColor: rgb(196, 137, 194);
$body-lin-gradient-secondColor: rgb(128, 43, 0);
$body-lin-gradient-thirdColor: blue;
$body-lin-gradient-forthColor: purple;
$body-lin-gradient-fifthColor: yellow;

$my-color-pallette: (
    'yellow': yellow,
    'black': black,
    'pink': pink,
    'brown': brown,
    'red': red,
);

// @for $i from 1 through 10 {
//     @debug $i;
// }

// @each $key, $value in $my-color-pallette {
//     @debug "#{$key}-#{$value}"
// }

// @if ($body-lin-gradient-fifthColor == 'yellow'){
//     @debug "It is indeed yellow!";
// }
// @else {
//     @debug "It is not yellow at all!";
// }

// @function myFancyColorFunction($color-var: #12fa3d) {
//     $complementary-color: complement($color-var);
//     $light-up-Of-the-complement: lighten($complementary-color, 50%);
//     @return $light-up-Of-the-complement;
// }

// @debug myFancyColorFunction(red);