@import 'variables';

h1 {
    a {
        color: $body-lin-gradient-fifthColor;
    }
}

p {
    a {

        color: $body-lin-gradient-firstColor;
        position: relative;
        margin-top: 34px;
        top: 50%;
    }
}
h1 {
    img {
        position: absolute;
        color: gray;
        backdrop-filter: blur(5px);
    }
}