<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./articleStyles.css" />
    <title>MyWeatherPal article page!</title>
</head>

<body>
    <header tabindex="1" aria-label="Header Section containg link navigation to the other pages of the wesbite">
        <nav>
            <a id="top"></a>
            <img src="./images/websiteLogo.png" tabindex="1" class="logo" alt="website logo that is on white background where the text MyWeatherPal is visible on the bottom of crossed arrows that have all weather types in each crossing section"/>
            <a href="./index.html" id="weather" tabindex="1">Home</a>
            <a href="./about.html" id="about" tabindex="1">About</a>
            <a href="./weather.html" id="weather" tabindex="1">Weather Page</a>
        </nav>
    </header>

    <hr />

    <main id="main-cont" tabindex="2" aria-label="Main content of the page that includes the article information that the user had searched for">
        <h2  tabindex="3"class="special-heading">What is Lorem Ipsum?</h2>
        <p tabindex="3">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
            make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic
            typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
            containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
            versions
            of Lorem Ipsum.
        </p>

        <h3 class="special-heading" tabindex="4">Where does it come from?</h3>
        <p tabindex="4">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin
            literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney
            College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,
            and
            going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum
            comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil)
            by
            Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
            Renaissance.
            The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
            1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
            original
            form, accompanied by English versions from the 1914 translation by H. Rackham.
        </p>
    </main>
    
    <article id="article-layout" tabindex="5" aria-label="Subsection that continues the information based of the user's search">
        <section tabindex="6">
            <img tabindex="6" src="./images/Paris.jpg"
                alt="a image showing the beauty of european capital city of France - Paris with its beautiful and thrilling life">
            <h3 tabindex="6">Why do we use it?</h3>
            <p tabindex="6">
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at
                its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                as
                opposed to using 'Content here, content here', making it look like readable English. Many desktop
                publishing
                packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem
                ipsum'
                will uncover many web sites still in their infancy. Various versions have evolved over the years,
                sometimes by
                accident, sometimes on purpose (injected humour and the like).
            </p>
        </section>
        <section class="curved" tabindex="7">
            <img src="./images/New York.jpg" tabindex="7"
                alt="a image showing New York, a city filled with brightness and busy life" />
            <h3 tabindex="7">Why do we use it?</h3>
            <p tabindex="7">
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at
                its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                as
                opposed to using 'Content here, content here', making it look like readable English. Many desktop
                publishing
                packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem
                ipsum'
                will uncover many web sites still in their infancy. Various versions have evolved over the years,
                sometimes by
                accident, sometimes on purpose (injected humour and the like).
            </p>
        </section>
        <section tabindex="8">
            <img src="./images/Foggy forest.jpg" tabindex="8" alt="a picture showing a foggy forest" />
            <h3 tabindex="8">Where can I get some?</h3>
            <p tabindex="8">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in
                some form, by injected humour, or randomised words which don't look even slightly believable. If you are
                going
                to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                middle of
                text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
                making this
                the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a
                handful
                of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum
                is
                therefore always free from repetition, injected humour, or non-characteristic words etc.
            </p>
        </section>
    </article>

    <footer id="foot-section" tabindex="9" aria-label="Footer of the page containing information about how the user can contact us and the article itself">
        <button id="back-btn" tabindex="10" aria-label="Go back to the top of the page"><a tabindex="10" href="#top" class="back-to-top">Back to top</a></button>
        <div class="message" aria-label="Information about how you can contact us through our own email">
            <p tabindex="10">
                You can contact us at our email here: <a tabindex="10" aria-label="MyWeatherPal email" href="mailto: myweatherpal@gmail.com">MyWeatherPal email</a>
            </p>
        </div>
        <div tabindex="11" class="message" aria-label="Information about the author of the source article">
            <p tabindex="11">
                Author Information:
            </p>
        </div>
    </footer>
</body>

</html>