.container {
    width: 80%;
    margin: 0 auto;
    height: 30rem;
    margin-bottom: 100px;
}

.search-container {
    margin-bottom: 20px;
}

.card-news {
    background-color: #094664;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 100%;
}

.card-news:hover {
    background-color: #e0e0e0;
}