body {
    background-image: linear-gradient(to bottom right, rgb(196, 137, 194), rgb(128, 43, 0), blue, purple, yellow);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

:root {
    --marTop: 30px;
    --heightForContainer: 50vh;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

div.container {
    background-color: white;
    width: 30vw;
    height: var(--heightForContainer);
    max-height: 100vh;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    right: 50%;
    left: 50%;
}

ul.task-container {
    list-style-type: none;
    position: absolute;
    display: block;
    height: 50px;
    width: 30vw;
    top: 50%;
    left: 2%;
    margin-top: var(--marTop);
}

input#inp-type-txt {
    height: 4vh;
    width: 20vw;
    background-color: rgb(177, 163, 163);
    border-radius: 12px;
    text-align: left;
    color: rgb(42, 39, 39);
    font-size: larger;
    font-weight: 500;
    position: absolute;
    z-index: -1;
}

button#add-task-btn {
    background-color: tomato;
    color: white;
    font-size: large;
    font-weight: 500;
    text-align: center;
    border-radius: 12px;
    position: fixed;
    left: 58%;
    height: 5vh;
    width: 8vw;
}

p {
    display: inline-block;
}

button#add-task-btn:hover {
    background-color: rgb(233, 103, 81);
    color: black;
    font-weight: 300;
    font-size: medium;
}

input#inp-type-txt:hover {
    cursor: pointer;
}

input {
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 100%;
}

button {
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 100%;
    margin-left: 10px;
}