/*Color variables*/
$body-lin-gradient-firstColor: rgb(196, 137, 194);
$body-lin-gradient-secondColor: rgb(128, 43, 0);
$body-lin-gradient-thirdColor: blue;
$body-lin-gradient-forthColor: purple;
$body-lin-gradient-fifthColor: yellow;

h1 {
    a {
        color: green;
    }
}