body {
    background-image: linear-gradient(to bottom right, rgb(196, 137, 194), rgb(128, 43, 0), blue, purple, yellow);
}
div.container {
    background-color: white;
    width: 30vw;
    height: 50vh;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    right: 50%;
    left: 50%;
}
input#inp-type-txt {
    height: 4vh;
    width: 20vw;
    background-color: rgb(177, 163, 163);
    border-radius: 12px;
    text-align: left;
    color: rgb(42, 39, 39);
    font-size: larger;
    font-weight: 500;
    position: absolute;
    z-index: -1;
}
button#add-task-btn {
    background-color: tomato;
    color: white;
    font-size: large;
    font-weight: 500;
    text-align: center;
    border-radius: 12px;
    position: fixed;
    left: 58%;
    height: 5vh;
    width: 8vw;
}
input.check-box-inp {
    width: 2rem;
    height: 2rem;
    border-radius: 12px;
    position: static;
    display: inline-block;
    margin-top: 150px;
    top: 200%;
    right: 600%;
    background-color: red;
    z-index: 0;
}
p.task-txt {
    display: inline-block;
}