body {
    background-image: linear-gradient(to bottom right, red, green, blue, purple, yellow);
    display: flex;
    align-items: center;
    justify-content: center;
}
div.container {
    background-color: white;
    width: 30vw;
    height: 20vh;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    right: 50%;
    left: 50%;

}
input#inp-type-txt {
    height: 4vh;
    width: 20vw;
    background-color: rgb(177, 163, 163);
    border-radius: 12px;
    text-align: left;
    color: rgb(42, 39, 39);
    font-size: larger;
    font-weight: 500;
    position: absolute;
    z-index: -1;
}
button#add-task-btn {
    background-color: tomato;
    color: white;
    font-size: large;
    font-weight: 500;
    text-align: center;
    border-radius: 12px;
    position: relative;
    left: 20%;
    height: 4vh;
    width: 8vw;
}