/*Color variables*/
h1 a {
  color: yellow;
}

p a {
  color: rgb(196, 137, 194);
  position: relative;
  margin-top: 34px;
  top: 50%;
}

h1 img {
  position: absolute;
  color: gray;
  backdrop-filter: blur(5px);
}