<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homeStyles.css" />
    <title>My weather pal!</title>
</head>

<body>
    <nav>
        <img src="./images/websiteLogo.png" class="logo" />
        <a href="./home.html" id="weather">Home</a>
        <a href="./about.html" id="about">About</a>
        <a href="./weather.html" id="weather">Weather Page</a>
    </nav>
    <header>
        <div class="head-info first-cart">
            <h2>
                Welcome to our weatheer appp
            </h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book
            </p>
        </div>
        <div class="head-info second-cart">
            <h2>
                Welcome to our weatheer appp
            </h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book
            </p>
        </div>
        <div class="head-info third-cart">
            <h2>
                Welcome to our weatheer appp
            </h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book
            </p>
        </div>
    </header>

    <hr style="border: 4px solid grey; margin-top: 10px;" />

    <main class="main-cards-cont">
        <div class="card hidden-rotator">
            <h1>Title</h1>
            <div class="cont-box">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book
                </p>
            </div>
            <div class="buttons">
                <button class="button">Button 1</button>
                <button class="button">Button 2</button>
            </div>
        </div>
        <div class="card hidden-rotator">
            <h1>Title</h1>
            <div class="cont-box">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book
                </p>
            </div>
            <div class="buttons">
                <button class="button">Button 1</button>
                <button class="button">Button 2</button>
            </div>
        </div>
        <div class="card hidden-rotator">
            <h1>Title</h1>
            <div class="cont-box">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book
                </p>
            </div>
            <div class="buttons">
                <button class="button">Button 1</button>
                <button class="button">Button 2</button>
            </div>
        </div>
    </main>

    <section class="service-descr">
        <div class="wrap-section">
            <h2>Handling our own team and services we provide</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book
            </p>
        </div>
        <div class="city-gallery">
            <img src="./images/New York.jpg" alt="New York here" class="hidden-rotator" alt="New York image here" />
            <img src="./images/tokyo-main.avif" alt="Tokyo here" class="hidden-rotator" alt="Tokyo image here" />
            <img src="./images/Paris.jpg" alt="Paris here" class="hidden-rotator" alt="Paris image here"/>
        </div>
    </section>

    <section id="inc-info" class="service-descr">
        <div class="project-info hidden-rotator">
            <p>
                Welcome to WeatherHub, your go-to destination for accurate and up-to-date weather information. Our
                project is dedicated to providing a comprehensive and user-friendly platform that caters to all your
                weather needs. Whether you're planning your day, a week ahead, or simply curious about the current
                conditions, WeatherHub has you covered.
            </p>
            <div class="list-key">
                <ul>
                    <li>Real-time Weather Updates</li>
                    <li>Personalized Forecasts</li>
                    <li>Interactive Maps</li>
                    <li>Historical Weather Data</li>
                    <li>Weather News and Insights</li>
                    <li>Responsive Design</li>
                </ul>
            </div>
        </div>
        <div class="about hidden-rotator">
            <section>
                <h2>Mihail: The Visionary Coder</h2>
                <p>
                    Passion: Mihail's heart beats in code. From tinkering with algorithms to mastering new programming
                    languages, Mihail's passion for coding knows no bounds. With a sharp eye for detail and a knack for
                    problem-solving, Mihail dreams of creating groundbreaking applications that will make a positive
                    impact on the world.
                </p>
            </section>
        </div>
        <div class="about hidden-rotator">
            <section>
                <h2>Viktor: The Tech Explorer</h2>
                <p>
                    Explorer Spirit: Viktor is not just a coder; Viktor is an explorer of the digital realm. From
                    delving into the intricacies of cybersecurity to experimenting with cutting-edge technologies,
                    Viktor's enthusiasm for IT extends beyond traditional programming. Viktor envisions a future where
                    technology harmonizes with everyday life.
                </p>
            </section>
        </div>
    </section>

    <script src="script.js"></script>
</body>

</html>