body {
    background: url('pics/Library\ image.jpg.crdownload') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}
div.head-section {
    background-color: black;
    color: whitesmoke;
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgb(163, 40, 40), 2px 3px 6px rgb(128, 63, 63), 3px 4px 3px rgb(161, 40, 26);
    height: 6vh;
    width: 25vw;
    font-size: 23px;
}
div.wrapper div.head-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.wrapper {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    height: 60vh;
    border-radius: 10px;
}