body {
    background: url('pics/Library\ image.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-family: 'Quicksand', sans-serif;
}
div.head-section {
    background-color: black;
    color: whitesmoke;
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgb(163, 40, 40), 2px 3px 6px rgb(128, 63, 63), 3px 4px 3px rgb(161, 40, 26);
    height: 6vh;
    width: 25vw;
    font-size: 12px;
}
div.wrapper div.head-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.wrapper {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    height: 60vh;
    border-radius: 10px;
}
button#gen-btn {
    box-shadow: 3px 3px 5px rgb(163, 40, 40), 2px 2px 6px rgb(128, 63, 63), 4px 4px 3px rgb(161, 40, 26);
    height: 6vh;
    width: 25vw;
    background-image: linear-gradient(to bottom, red, rgb(153, 48, 19), rgb(187, 60, 17), rgb(216, 98, 24));
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 1000;
    border: 2px solid green;
    outline-width: 10px;
    outline-color: rgb(255, 3, 3);
    outline-offset: 10px;
    cursor: pointer;
}
button#gen-btn:hover {
    background-image:repeating-conic-gradient(rgb(16, 146, 111), rgb(97, 17, 106), rgba(62, 199, 135, 0.522), rgba(133, 180, 32, 0.516));
    color: color-mix(in srgb-linear, red 45%, yellow 12%);
    animation-name: animationForGenerateButton;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}
p::selection {
    background-color: rgb(31, 127, 127);
}
q::selection {
    background-color: rgb(31, 127, 127);
}

@keyframes animationForGenerateButton {
    from {
        width: 25vw;
        height: 6vh;
    }
    15% {transform: scale(1, 2); transform: rotate(10deg); width: 28vh; border-radius: 2px; height: 12vh;}
    25% {transform: scale(2, 3); transform: rotate(20deg); width: 31vh; border-radius: 3px; height: 12vh;}
    35% {transform: scale(3, 4); transform: rotate(30deg); width: 34vh; border-radius: 4px; height: 12vh;}
    45% {transform: scale(4, 5); transform: rotate(40deg); width: 37vh; border-radius: 5px; height: 12vh;}
    55% {transform: scale(5, 6); transform: rotate(50deg); width: 40vh; border-radius: 6px; height: 12vh;}
    65% {transform: scale(6, 7); transform: rotate(60deg); width: 43vh; border-radius: 7px; height: 12vh;}
    75% {transform: scale(7, 8); transform: rotate(70deg); width: 46vh; border-radius: 8px; height: 12vh;}
    85% {transform: scale(8, 9); transform: rotate(80deg); width: 49vh; border-radius: 9px; height: 12vh;}
    to {
        width: 50vw;
        height: 8vh;
    }
    
}
@media screen and (max-width: 769px) {
    div.head-section {
        font-size: 7px;
        width: 40vw;
    }
    
    button#gen-btn {
        height: 6vh;
        width: 40vw;
        font-size: 10px;
    }
    body {
        font-size: 16px;
        font-weight: 700;
    }
}
@media screen and (max-width: 426px) {
    div.head-section {
        font-size: 5px;
        height: 6vh;
        width: 40vw;
    }
    
    button#gen-btn {
        height: 6vh;
        width: 40vw;
        font-size: 7px;
    }
    body {
        font-size: 16px;
        font-weight: 700;
    }
}
@media screen and (max-width: 376px) {
    div.head-section {
        font-size: 4px;
        height: 6vh;
        width: 40vw;
    }
    
    button#gen-btn {
        height: 6vh;
        width: 40vw;
        font-size: 10px;
    }
    body {
        font-size: 16px;
        font-weight: 700;
    }
}
@media screen and (max-width: 321px) {
    div.head-section {
        font-size: 4px;
        height: 6vh;
        width: 40vw;
    }
    
    button#gen-btn {
        height: 6vh;
        width: 40vw;
        font-size: 9px;
    }
    body {
        font-size: 16px;
        font-weight: 700;
    }
}