body {
    background-color: rgb(67, 62, 62);
    display: flex;
    align-items: center;
    justify-content: center;
}
button.search-btn img{
    width: 2vw;
    height: 4vh;
    object-position: center;
    object-fit: contain;
    vertical-align: middle;
    border-radius: 10px;
    margin-top: 10px;
}
button.search-btn {
    border-radius: 10px;
}
div.wrapper {
    margin-block: 50px;
    margin-inline: 50px;
    background-image: linear-gradient(to right, rgb(73, 188, 161), rgb(4, 92, 98));
    text-align: center;
    width: 35vw;
    height: 75vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    column-gap: 1px;
    border-radius: 15px;
    outline-offset: 5px;
    outline-color: greenyellow;
    outline-style: groove;
    outline-width: 5px;
    box-shadow: 10px 10px 3px rgb(153, 64, 64), 12px 12px 5px rgb(23, 144, 146), 14px 14px 7px rgb(175, 175, 53);
}
div.wrapper div.search-section {
    display: inline-block;
}
p.deg {
    color: white;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 0px;
}
p.feels-like {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
}
p.city {
    color: white;
    font-size: 50px;
    font-weight: 500;
    padding-top: 0;
    margin-top: 2px;
}
img.img-src {
    display: block;
    object-position: center;
    width: 10vw;
    height: 15vh; 
}
input#inp-text { 
    text-align: center;
    width: 15vw;
    height: 4vh;
    border-radius: 10px;
    margin-bottom: 30px;
}
img.hum-picture {
    width: 3vw;
    height: 10vh;
    margin-right: 10px;
    position: relative;
    top: 30px;
}
img.wind-picture {
    width: 3vw;
    height: 10vh;
    margin-right: 10px;
    position: relative;
    top: 30px;
}
div.wrapper div.humidity-section {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    color: aliceblue;
}
div.wrapper div.wind-section {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    color: aliceblue;
}
div.hum-cont {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    column-gap: 2px;
    row-gap: 0;
}
div.wind-cont {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    column-gap: 2px;
    row-gap: 0;
}
div.humidity-section {
    position: relative;
    right: 170px;
    bottom: 75px;
}
div.wind-section {
    position: relative;
    left: 170px;
    bottom: 180px;
}
div.info-section-wrap {
    margin-top: 50px;
}

/*Laptop L*/
@media screen and (min-width: 1440px) { 
    div.info-section-wrap {
        margin-top: 80px;
    }
    
    img.img-src {
        display: block;
        object-position: center;
        width: 13vw;
        height: 17vh; 
    }
    
    div.search-section {
        margin-top: 20px;
    }
    
    input#inp-text {
        width: 300px;
        height: 50px;
    }
    
    button.search-btn {
        height: 58px;
        width: 65px;
    }
}

/*Laptop*/
@media screen and (min-width: 1024px) {
    
    div.wrapper {
        width: 55vw;
        height: 75vh;
    }
    div.search-section {
        margin-top: 20px;
    }
    
    input#inp-text {
        width: 300px;
        height: 50px;
        font-size: 20px;
        font-weight: 600;
    }
    
    button.search-btn {
        height: 58px;
        width: 58px;
    }
}
/*Tablet*/
@media screen and (min-width: 768px) {
    
    div.wrapper {
        width: 65vw;
        height: 95vh;
    }
    
    input#inp-text {
        width: 350px;
        height: 50px;
        font-size: 20px;
        font-weight: 600;
    }
    
    button.search-btn {
        height: 56px;
        width: 58px;
    }
    button.search-btn img {
        height: 36px;
        width: 38px;
    }
    
    div.search-section {
        margin-top: 15px;
    }
    
}
/*Mobile L*/

@media screen and (min-width: 425px) {
    
}