div#creator-cont {
    width: 80%;
    height: 20%;
    position: relative;
    left: 120px;
    top: 50px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
div#creator-cont + div#creator-cont {
    margin-top: 100px;
    height: 23%;
}
.circle {
    width: 160px;
    height: 160px;
    shape-outside: circle(50%);
    border-radius: 50%;
    border: 3px solid gray;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    float: left;
    margin-right: 24px;
    overflow: hidden;
}
.circle img.creator-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
div#creator-cont p {
    display: inline;
}
div#contents-page {
    background-color: white;
}
div#container-wrapper {
    background-color: rgb(126, 194, 212);
}
div#pagination-nav {
    background-color: rgb(181, 243, 243);
}
div.rotating-card {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
div#info-section {
    width: 77%;
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 50px;
    float: right;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: rgb(255, 140, 0);
}
.link-style-format {
    flex-basis: 70px;
    height: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border: none;
    border-radius: 100%;
    font-size: 20px;
}
div#info-section a:hover {
    transition: box-shadow 0.5s;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px;
}
.format {
    width: 100%;
    height: 100%;
    background-color: white;
    background-size: contain;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
div#creator-cont p {
    color: white;
    font-family: 'Oswald', sans-serif;;
    font-size: 30px;
}
div#contents-page {
    background-image: url('images for website/BackgroundAbout.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-attachment: fixed;
    background-position: center;
}
div.head {
    background-color: rgb(45, 41, 41);
}
.other {
    margin-top: 25px;
}